<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#3498db" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />

    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.image %>" />
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.siteName %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
