@import './variable';

:root {
  --color-cyan: #7bb7fa;
}

.bm-burger-button {
  display: none;
}

.bm-menu {
  background: #373a47;
  font-family: Roboto, San Francisco, helvetica, arial, sans-serif;
  font-size: 24px;
  padding: 16px;
}

.bm-item-list {
  color: var(--color-white);
  height: auto !important;

  & > * {
    outline: none;
    box-shadow: none !important;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  & svg:focus {
    outline: none;
    box-shadow: none !important;
  }
}

.sidebar-social {
  & > a {
    color: var(--color-cyan);
  }
}

.sidebar-control,
.sidebar-tools {
  display: flex !important;
  align-items: center;
  justify-content: center;

  & > *:not(:first-child) {
    margin-left: 12px;
  }
}

.sidebar-tools {
  justify-content: space-evenly;
}

.sidebar-contents {
  display: flex !important;
  align-items: flex-start;
  flex-direction: column;
  width: auto;

  & > li {
    list-style: inherit;
    line-height: 1.3;
    width: 100%;

    & > a {
      color: var(--color-cyan);
      text-decoration: none;

      &:not(:first-child) {
        margin-top: 4px;
      }

      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }
  }
}

.sidebar-cursor {
  cursor: pointer;
}
