@import './variable';

.host-container {
  background: var(--color-black);
  display: flex;
  padding: 20px;
}

.host-note {
  width: 50%;
  position: relative;

  & pre {
    background: transparent !important;
    color: var(--color-white);
    font-family: 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    font-size: 1.5rem;
    margin: 15px;
    white-space: pre-wrap;
  }
}

.host-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  justify-content: flex-end;
  width: 50%;

  & > h2 {
    color: var(--color-main);
  }

  & .host-next-slide {
    height: 270px;
    position: relative;
    width: 480px;
  }
}

.terminate-button {
  border-bottom: none;
  color: var(--color-gray);
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 15px;
}

.host-slides {
  color: var(--color-gray);
  margin: 30px 0;

  & .current-slide-num {
    font-size: 1.2rem;
  }
}
