@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

:root {
  --color-white: #f5f5f5;
}

pre {
  background: var(--color-white);
  border-radius: 10px;
  min-width: 50%;
  max-width: 90%;
  width: auto;
}

code {
  font-family: 'Source Code Pro', monospace;
}

pre[class*='language-'] {
  margin: 0.5em auto !important;
}

.token.operator {
  background: inherit;
}

pre > code[class*='language-'],
pre[class*='language-'] {
  font-size: 1.4rem !important;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  pre > code[class*='language-'],
  pre[class*='language-'] {
    font-size: 1.8rem !important;
  }
}
