@import 'modern-normalize/modern-normalize.css';
@import 'swiper/swiper.min.css';
@import 'swiper/components/a11y/a11y.min.css';
@import './customize.css';
@import './sidebar.css';
@import './grid.css';

html {
  color: #333;
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
}

html,
body {
  font-family: 'Roboto', 'San Francisco', helvetica, arial, sans-serif;
  font-weight: 300;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
}

a,
a:active,
a:focus,
a:visited,
input:focus,
textarea:focus,
button {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a {
  padding-left: 0;
}

a:hover {
  color: #3af;
}

p a:active {
  position: relative;
  top: 2px;
}

p {
  margin: 0;
}

ul {
  margin: 0 auto;
}

li {
  margin: 0;
  text-align: left;
}

img {
  margin: 0 auto;
}

ol {
  padding-left: 0;
}

p,
li,
dt,
dd,
table,
textarea,
label {
  line-height: 3.2rem;
}

li,
p:last-child {
  margin-bottom: 0;
}

ul > li,
ol > li {
  margin-left: 3.2rem;
}

li li {
  font-size: 100%;
}

h1 {
  font-size: 4rem;
  line-height: 5.6rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5.6rem;
    line-height: 7.2rem;
  }
}

h1 span {
  font-style: italic;
}

h2 {
  font-size: 3.2rem;
  line-height: 4.8rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 4.8rem;
    line-height: 6.4rem;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 4rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 4rem;
    line-height: 5.6rem;
  }
}

h4 {
  font-size: 2.2rem;
  line-height: 4rem;
}
@media (min-width: 768px) {
  h4 {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
}

h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
}

h6 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.2rem;
}

hr {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 20, 80, 0.2) 0,
    rgba(255, 255, 255, 0) 75%
  );
}

hr:after {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}

pre {
  background: #fff;
  border: 1px solid rgba(0, 20, 80, 0.1);
  -webkit-box-shadow: 0 8px 16px rgba(0, 20, 80, 0.04), 0 4px 16px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 16px rgba(0, 20, 80, 0.04), 0 4px 16px rgba(0, 0, 0, 0.08);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*====align left====*/
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  /* ==== align center ====*/
  /*justify-content: center; */
  /*====align right====*/
  /* justify-content: flex-end; */
  /*====separated columns li a====*/
  /* justify-content: space-between; */
  /*====separated columns centered li a====*/
  /*justify-content: space-around;*/
}
nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

ul {
  list-style: square;
  text-indent: inherit;
  padding-left: 0;
}
