@import './variable';
@import './sidebar.css';

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
}

a {
  padding-left: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0 auto;
}

li {
  margin: 0;
  text-align: left;
}

img {
  margin: 0 auto;
}

.fa-hatena:before {
  content: 'B!';
  font-family: Verdana;
  font-weight: bold;
}

.toc {
  background: transparent;
}

#root {
  display: flex;
}

#webslides {
  flex: 1;
}

#webslides-zoomed {
  position: absolute;
  width: 100%;
}

.katex-html {
  display: none;
}

.qr {
  width: 320px;
  height: 320px;
  margin: 0 auto;
}
