@import './variable';
@import './sidebar.css';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); /* for highlight.js */

body {
  font-size: 24px;
}

a {
  padding-left: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0 auto;
}

li {
  margin: 0;
  text-align: left;
}

img {
  margin: 0 auto;
}

pre {
  background: var(--color-white);
  border-radius: 10px;
  min-width: 50%;
  max-width: 90%;
  width: auto;
}

pre[class*='language-'] {
  margin: 0.5em auto;
}

code {
  font-family: 'Source Code Pro', monospace !important;
  padding: 0 3px;
}

code[class*='language-'],
pre[class*='language-'] {
  font-size: 20px;
  line-height: 1.2;
}

#root {
  display: flex;
}

.fa-hatena:before {
  content: 'B!';
  font-family: Verdana;
  font-weight: bold;
}

.toc {
  background: transparent;
}

/* overwrite prismjs */
.token.operator {
  background: inherit;
}

#webslides {
  flex: 1;
}

#webslides-zoomed {
  position: absolute;
}
