#root {
  display: flex;
}

.katex-html {
  display: none;
}

.qr {
  width: var(--qr-code-image-size);
  height: var(--qr-code-image-size);
  margin: 0 auto;
}

.swiper-container {
  height: 100vh;
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow-y: auto;
}

.slide-box {
  color: var(--color-base);
  text-align: var(--base-align);
  background: var(--color-background);
  position: relative;
}

.slide-internal-box {
  padding: 16px;
  text-align: inherit;
  max-width: var(--base-max-slide-size);
  margin: auto;
  min-width: 320px;
  z-index: 2;
}

.slide-background-div {
  position: absolute;
  top: 0;
  left: 0;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
