#root {
  display: flex;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.swiper-container {
  height: 100vh;
  width: 100%;
}

.swiper-slide {
  transform: translate3d(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: var(--base-align);
  overflow-y: auto;
  color: var(--color-base);
  text-align: var(--base-align);
  background: var(--color-background);
  position: relative;
  flex-wrap: wrap;
}

.slide-internal-box {
  display: flex;
  flex-direction: column;
  padding: var(--base-outer-margin);
  text-align: inherit;
  align-items: center;
  justify-content: var(--base-align);
  max-width: var(--base-max-width);
  min-width: 320px;
  z-index: 2;
  width: 100vw; /* for mermaid */
}

.slide-background {
  position: absolute;
  top: 0;
  left: 0;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.katex-html {
  display: none;
}

.qr {
  width: var(--qr-code-image-size);
  height: var(--qr-code-image-size);
  margin: 0 auto;
}

.mermaid {
  width: 100%;
}

.account {
  color: var(--account-icon-color);
  font-size: var(--account-icon-size);
  display: flex;
  align-items: center;
}
