#root {
  display: flex;
}

.katex-html {
  display: none;
}

.fa-hatena:before {
  content: 'B!';
  font-family: Verdana;
  font-weight: bold;
}

.qr {
  width: 320px;
  height: 320px;
  margin: 0 auto;
}

.swiper-container {
  background: #f5f5f5;
  height: 100vh;
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow-y: auto;
}

.slide-internal-box {
  padding: 16px 0;
  text-align: inherit;
  max-width: 100%;
  margin: auto;
  min-width: 320px;
  width: 80%;
}

@media (min-width: 850px) {
  .slide-internal-box {
    margin: auto 24px;
  }
}
