:root {
  --sidebar-color-cyan: #7bb7fa;
  --sidebar-color-white: #f5f5f5;
  --sidebar-color-black: #373a47;
}

.btn-sidebar {
  bottom: 20px;
  color: var(--sidebar-color-white);
  cursor: pointer;
  fill: #abc;
  font-size: 32px !important;
  left: 30px;
  position: fixed;
  right: 30px;
  z-index: 100;
}

.bm-menu {
  background: var(--sidebar-color-black);
  padding: 16px;

  & svg:hover {
    color: var(--sidebar-color-cyan);
  }
}

.bm-item-list {
  color: var(--sidebar-color-white);
  font-family: 'Roboto', 'San Francisco', helvetica, arial, sans-serif;
  font-size: 20px;
  height: auto !important;

  & > * {
    outline: none;
    box-shadow: none !important;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  & svg:focus {
    outline: none;
    box-shadow: none !important;
  }
}

.sidebar-social {
  margin: 0 12px;

  & svg {
    color: var(--sidebar-color-white);
  }

  & > a:not(:first-child) {
    margin-left: 12px;
  }
}

.sidebar-control,
.sidebar-tools {
  display: flex !important;
  align-items: center;
  justify-content: center;

  & > *:not(:first-child) {
    margin-left: 12px;
  }
}

.sidebar-tools {
  justify-content: space-evenly;
}

.sidebar-contents {
  display: flex !important;
  align-items: flex-start;
  flex-direction: column;
  width: auto;

  & > li {
    list-style: inherit;

    &:first-child {
      margin-left: 32px;
    }

    & > a {
      color: var(--sidebar-color-cyan);

      &:not(:first-child) {
        margin-top: 4px;
      }

      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }
  }
}

.sidebar-cursor {
  cursor: pointer;
}

.tooltip-container {
  cursor: pointer;
  position: relative;
  width: 26px;
  height: 26px;
}

.tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  background: rgba(0, 0, 0, 0.3);
  color: var(--sidebar-color-white);
  text-align: center;
  padding: 4px 8px;
  border-radius: 6px;
  z-index: 2;
  top: -80%;
  transition: 0.2s ease-in;
  font-size: 14px;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
}
