@import './variable';

:root {
  --color-cyan: #7bb7fa;
}

.btn-sidebar {
  bottom: 20px;
  color: var(--color-white);
  cursor: pointer;
  fill: #abc;
  font-size: 32px !important;
  left: 30px;
  position: fixed;
  right: 30px;
  z-index: 100;
}

.bm-burger-button {
  display: none;
}

.bm-menu {
  background: #373a47;
  padding: 16px;
}

.bm-item-list {
  color: var(--color-white);
  font-family: 'Roboto', 'San Francisco', helvetica, arial, sans-serif;
  font-size: 20px;
  height: auto !important;

  & > * {
    outline: none;
    box-shadow: none !important;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  & svg:focus {
    outline: none;
    box-shadow: none !important;
  }
}

.sidebar-social {
  & > a {
    color: var(--color-cyan);
  }
}

.sidebar-control,
.sidebar-tools {
  display: flex !important;
  align-items: center;
  justify-content: center;

  & > *:not(:first-child) {
    margin-left: 12px;
  }
}

.sidebar-tools {
  justify-content: space-evenly;
}

.sidebar-contents {
  display: flex !important;
  align-items: flex-start;
  flex-direction: column;
  width: auto;

  & > li {
    list-style: inherit;

    &:first-child {
      margin-left: 32px;
    }

    & > a {
      color: var(--color-cyan);

      &:not(:first-child) {
        margin-top: 4px;
      }

      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }
  }
}

.sidebar-cursor {
  cursor: pointer;
}
