:root {
  --sidebar-color-cyan: #7bb7fa;
  --sidebar-color-white: #f5f5f5;
  --sidebar-color-black: #373a47;
  --sidebar-color-gray: #b7b8b7;
}
@keyframes fade-in {
  100% {
    transform: translateX(0%);
  }
}

.sidebar {
  transform: translateX(-100%);
  animation: fade-in 0.5s forwards;
  color: var(--sidebar-color-white);
  min-width: 240px;
  max-width: 240px;
  max-height: 100vh;
  background: var(--sidebar-color-black);
  padding: 16px;
  font-family: 'Roboto', 'San Francisco', helvetica, arial, sans-serif;
  font-size: 20px;

  & > * {
    outline: none;
    box-shadow: none !important;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

.bm-menu {
  background: var(--sidebar-color-black);
  padding: 16px;

  & svg:hover {
    color: var(--sidebar-color-cyan);
  }
}

.sidebar-social {
  margin: 0 12px;

  & svg {
    color: var(--sidebar-color-white);
  }

  & > a:not(:first-child) {
    margin-left: 12px;
  }
}

.sidebar-control,
.sidebar-tools {
  display: flex !important;
  align-items: center;
  justify-content: center;

  & > *:not(:first-child) {
    margin-left: 12px;
  }
}

.sidebar-tools {
  justify-content: space-evenly;
}

.sidebar-tabs {
  & > .sidebar-tabs-title {
    color: var(--sidebar-color-gray);
    display: flex;
    font-size: 16px;
    justify-content: space-around;

    & > span {
      cursor: pointer;
    }

    & > .sidebar-tabs-title-active {
      color: var(--sidebar-color-white);
    }
  }
}

.sidebar-contents {
  margin-top: 12px;
  width: auto;
  height: calc(100vh - 200px);
  overflow: auto;
}

.sidebar-tabs-agenda {
  display: flex !important;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  & > li {
    list-style: inherit;

    &:first-child {
      margin-left: 32px;
    }

    & > a {
      color: var(--sidebar-color-cyan);

      &:not(:first-child) {
        margin-top: 4px;
      }

      &:focus {
        outline: none;
        box-shadow: none !important;
      }
    }
  }
}

.sidebar-tabs-slides {
  list-style: none;
  width: 100%;

  & > li {
    margin-left: 0;
    width: 100%;
    zoom: 0.3;
    margin: 16px 0;
    height: 400px;

    & .slide-box {
      height: 100%;
      user-select: none;
    }
  }
}

.sidebar-cursor {
  cursor: pointer;
}

.tooltip-container {
  cursor: pointer;
  position: relative;
  width: 26px;
  height: 26px;
}

.tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  background: rgba(0, 0, 0, 0.3);
  color: var(--sidebar-color-white);
  text-align: center;
  padding: 4px 8px;
  border-radius: 6px;
  z-index: 2;
  top: -80%;
  transition: 0.2s ease-in;
  font-size: 14px;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
}
