.slides-list-container {
  position: relative;
  background: #ccc;
  top: 0;
  left: 0;
  z-index: 100;
}

.slides-list-toggle {
  position: absolute;
  top: 4px;
  right: -28px;
  z-index: 10;
  color: #abc;
}

.slide-list-overlay {
  zoom: 0.3;
  margin: 20px auto 0;
  height: 480px !important;
  width: 90% !important;

  & > * {
    pointer-events: none;
  }
}

.slide-list-close {
  width: 0;
  transition: all 0.2s;
}

.slide-list-open {
  width: 240px;
  transition: all 0.2s;
}
