:root {
  --typography-media-difference: 0.8rem;
}

@media (--viewport-not-pc) {
  h1 {
    font-size: calc(var(--h1-font-size) - var(--typography-media-difference));
    font-weight: var(--h1-font-weight);
    line-height: 5.6rem;
  }

  h2 {
    font-size: calc(var(--h2-font-size) - var(--typography-media-difference));
    font-weight: var(--h2-font-weight);
    line-height: 4.8rem;
  }

  h3 {
    font-size: calc(var(--h3-font-size) - var(--typography-media-difference));
    font-weight: var(--h3-font-weight);
    line-height: 4rem;
  }
}
