@import './themes/default.css';

:root {
  --base-font-family: 'Roboto', 'San Francisco', helvetica, arial, sans-serif;
  --base-font-size: 2.4rem;
  --base-font-weight: lighter;
  --base-align: center;
  --base-max-width: 1280px;
  --base-outer-margin: 24px;
  --base-image-height: auto;
  --base-image-width: 100%;
  --base-image-border: none;
  --base-image-border-radius: 0;

  --h1-font-size: 5.6rem;
  --h1-font-weight: lighter;
  --h2-font-size: 4rem;
  --h2-font-weight: lighter;
  --h3-font-size: 3.6rem;
  --h3-font-weight: lighter;
  --h4-font-size: 3rem;
  --h4-font-weight: lighter;
  --h5-font-size: 2.4rem;
  --h5-font-weight: normal;
  --h6-font-size: 2rem;
  --h6-font-weight: normal;

  --account-icon-size: 3rem;
  --account-icon-color: #545454;
  --code-font-size: 1.8rem;
  --qr-code-image-size: 320px;
}

/* ths value will be refactored so don't use it */
@custom-media --viewport-not-pc (width <= 768px);
