@import './variable.css';

.fusuma-presenter-view {
  height: 100vh;
  width: 100vw;
  position: relative;

  & > * {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  /* canvas */
  & > div {
    z-index: 1000;
  }
}

/* cannot use before/after for video tags, so should wrap div tags */
.fusuma-screen {
  background: #ddd;
  box-shadow: 0 0 2px #96bbee;
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;

  & > * {
    height: 100%;
    width: 100%;
  }

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10;
  }
}

/* overwrite */
.fusuma-canvas > canvas:first-child {
  display: none !important;
}
