:root {
  --main-color: #3498db;
  --sub-color: #ff874d;
  --green-color: #60d7a9;
  --white-color: #f5f5f5;
  --black-color: #464646;
  --gray-color: #545454;
  --skin-color: #ffcc99;
}

h1 {
  color: #1687a7;
}

h2 {
  color: #4a47a3;
  margin-bottom: 30px;
}

.sns-box {
  margin: 20px;

  & > * {
    color: var(--gray-color);

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.section-title {
  background: #faf3e0;
}

.setting-background {
  & h2 {
    color: #e7e6e1;
  }
}

.end {
  color: var(--sub-color);
  background-image: linear-gradient(var(--black-color), var(--black-color)),
    url('https://media.giphy.com/media/ass2cYPZuBQ1q/giphy.gif');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;

  & h1 {
    color: #faf3e0;
  }
}

.link {
  color: var(--sub-color);
}
