:root {
  --color-white: #f5f5f5;
  --color-black: #333;
}

html {
  /* set the base font-size */
  font-size: 62.5%;
}

body {
  /* set the default background */
  background: var(--color-white);

  /* set the default font-color */
  color: var(--color-black);
}

/* code blocks */
code[class*='language-'],
pre[class*='language-'] {
  font-size: 2rem;
}

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
.section-title {
}

.title {
}
