:root {
  --main-color: #3498db;
  --sub-color: #ff874d;
  --green-color: #60d7a9;
  --white-color: #f5f5f5;
  --black-color: #464646;
  --gray-color: #545454;
  --skin-color: #ffcc99;
  --color: #7bb7fa;
}

h2 {
  color: var(--main-color);
  margin-bottom: 30px;
}

a {
  color: var(--color);
}

.title {
  color: var(--main-color);
}

.section-title {
  color: var(--skin-color);

  & > h2 {
    color: var(--green-color);
  }
}

.end {
  color: var(--sub-color);
}

.link {
  color: var(--sub-color);
}

/* overwrite */
.grid {
  width: 100%;
}

span.title {
  background: inherit;
}

.capture-screen-image {
  border: 2px solid #333;
}
