:root {
  --main-color: #3498db;
  --sub-color: #ff874d;
}

h2 {
  color: var(--main-color);
  margin-bottom: 30px;
}

body {
  /* common background color */
  background: #f5f5f5;
}

.title {
  background: #464646;
  color: var(--main-color);
}

.section-title {
  background: #777;

  & > h2 {
    color: var(--sub-color);
  }
}

.end {
  color: var(--sub-color);
}

.link {
  color: var(--sub-color);
}

.hand {
  bottom: 20px;
  font-size: 32px;
  left: 80px;
  position: fixed;
}
