@import './variable';
@import './loader';
@import './sidebar';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro'); /* for highlight.js */

:root {
  --icon-size: 150px;
}

a {
  padding-left: 0;
}

li {
  margin: 0;
}

img {
  width: 90%;
}

pre {
  background: var(--color-white) !important;
  border-radius: 10px;
  font-size: 0.7rem;
  min-width: 50%;

  & code {
    font-family: 'Source Code Pro', monospace !important;
  }
}

.fa-hatena:before {
  content: 'B!';
  font-family: Verdana;
  font-weight: bold;
}

.profile {
  & > .profile-avatar {
    border-radius: 50%;
    height: var(--icon-size);
    margin: 20px 0;
    width: var(--icon-size);
  }

  & > .profile-name {
    margin: 0;
  }

  & > .profile-info {
    display: flex;
    margin: 20px 0;
    text-align: left;
  }
}

.sns-list {
  display: flex;
  justify-content: center;

  & > a {
    border: none;
  }
}

.bespoke-backdrop.main {
  background: var(--color-main);
}

.bespoke-backdrop.profile {
  background: var(--color-main);
}

.bespoke-backdrop.js {
  background: var(--color-js);
}

.bespoke-backdrop.node {
  background: var(--color-node);
}

.bespoke-backdrop.black {
  background: var(--color-black);
}

.card {
  display: flex;

  & > .card-text {
    border-left: 3px solid #777;
    padding-left: 20px;
    position: relative;
    text-align: left;

    & > .title {
      border: none;
      color: var(--color-main);
      display: block;
      font-size: 1.7rem;
      text-decoration: none;
    }

    & > .description {
      font-size: 1.2rem;
    }

    & > a {
      bottom: 0;
      display: block;
      font-size: 1rem;
      position: absolute;
    }
  }

  & > img {
    height: 100px;
    padding: 0 20px;
    width: 100px;
  }
}

.list {
  display: flex;
  margin-top: 50px;

  & > ul {
    list-style: none;
    margin: 0 50px;

    li {
      padding: 0;
    }
  }
}

.left-box {
  text-align: left;
}

.ref-link {
  bottom: 10px;
  font-size: 1rem;
  position: fixed;
  right: 20px;
}

.common-table {
  margin: 10px;
  text-align: left;

  & > thead {
    border-bottom: 2px solid var(--color-main);
  }

  & th {
    padding: 5px 10px;
  }

  & td {
    padding: 5px 10px;
  }
}
