@import '../css/variable';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400i,600&display=swap');

body {
  color: rgba(51, 51, 51);
  font-size: 62.5%;
  font-family: Roboto, San Francisco, helvetica, arial, sans-serif;
  font-weight: 300;
}

a {
  padding-left: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0 auto;
}

li {
  margin: 0;
  text-align: left;
}

img {
  margin: 0 auto;
}

pre {
  background: var(--color-white);
  border-radius: 10px;
  min-width: 50%;
  max-width: 90%;
  width: auto;
}

pre[class*='language-'] {
  margin: 0.5em auto;
}

code {
  font-family: 'Source Code Pro', monospace !important;
  padding: 0 3px;
}

code[class*='language-'],
pre[class*='language-'] {
  font-size: 1.2rem;
  line-height: 1.2;
}
/* @media screen and (min-width: 768px) {
  code[class*='language-'],
  pre[class*='language-'] {
    font-size: 2rem;
  }
} */

#root {
  display: flex;
}

.fa-hatena:before {
  content: 'B!';
  font-family: Verdana;
  font-weight: bold;
}

.toc {
  background: transparent;
}

/* overwrite prismjs */
.token.operator {
  background: inherit;
}

.katex-html {
  display: none;
}
