@import '../css/variable';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,400i,600&display=swap');

html {
  font-size: 62.5%;
}

body {
  color: rgba(51, 51, 51);
  font-family: Roboto, San Francisco, helvetica, arial, sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 5.6rem;
  line-height: 7.2rem;
}

h2 {
  font-size: 4.8rem;
  line-height: 6.4rem;
  margin: 0 0 30px 0;
}

h3 {
  font-size: 4rem;
  line-height: 5.6rem;
}

h4 {
  font-size: 3.2rem;
  line-height: 4.8rem;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
}

h6 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.2rem;
}

a {
  padding-left: 0;
  text-decoration: none;
}

p {
  margin: 0;
  line-height: 3.2rem;
}

ul {
  margin: 0 auto;
  list-style: square;
  min-width: 50%;
  width: min-content;
}

li {
  margin: 0;
  line-height: 1.2;
  text-align: left;

  & > ul {
    width: auto;
  }
}

img {
  margin: 0 auto;
  width: 100%;
}

pre {
  background: var(--color-white);
  border-radius: 10px;
  min-width: 50%;
  max-width: 90%;
  width: auto;
  border: 1px solid rgba(0, 20, 80, 0.1);
  box-shadow: 0 8px 16px rgba(0, 20, 80, 0.04), 0 4px 16px rgba(0, 0, 0, 0.08);
  width: min-content;
  margin: 0.5rem auto 0.5rem;
}

pre[class*='language-'] {
  margin: 0.5em auto;
}

code {
  font-family: 'Source Code Pro', monospace !important;
  padding: 0 3px;
}

code[class*='language-'],
pre[class*='language-'] {
  font-size: 2rem;
  line-height: 1.2;
}

pre + p {
  margin-top: 3.2rem;
}

#root {
  display: flex;
}

.fa-hatena:before {
  content: 'B!';
  font-family: Verdana;
  font-weight: bold;
}

.toc {
  background: transparent;
}

/* overwrite prismjs */
.token.operator {
  background: inherit;
}

.katex-html {
  display: none;
}

.reveal {
  font-size: 2.4rem;
}

@media (max-width: 480px) {
  html {
    font-size: 100%;
  }

  ul {
    width: 80%;
  }
}
