@import '../../packages/client/assets/style/themes/webpack.css';

@font-face {
  font-family: Stratum;
  src: url('./assets/StratumNo1.ttf');
}

.file-loader-font {
  font-family: Stratum;
  font-size: 2rem;
}

.file-loader-image {
  background: url('./assets/js.jpg');
  background-position: center;
  background-size: contain;
  height: 150px;
  width: 150px;
}

.outer {
  color: #ccc;
}

.middle {
  color: #25bace;
}

.inner {
  color: #3498db;
}

.sns-box {
  margin: 16px 0;

  & > :not(:first-child) {
    margin-left: 16px;
  }
}
