@font-face {
  font-family: Stratum;
  src: url('./assets/StratumNo1.ttf');
}

.slide-background {
  background: #f5f5f5;
}

.slide-box {
  text-align: center;

  & > * {
    /* width: 100px; */
  }
}

.file-loader-font {
  font-family: Stratum;
  font-size: 2rem;
}

.file-loader-image {
  background: url('./assets/js.jpg');
  background-position: center;
  background-size: contain;
  height: 150px;
  width: 150px;
}

.outer {
  color: red;
}

.middle {
  color: blue;
}

.inner {
  color: green;
}
