/* themes */
@import '@fusuma/client/assets/style/themes/default.css';
/* @import '@fusuma/client/assets/style/themes/babel.css'; */
/* @import '@fusuma/client/assets/style/themes/webpack.css'; */
/* @import '@fusuma/client/assets/style/themes/node.css'; */

/* set custom colors */
/* :root {
} */

html {
  /* set the base font-size */
  font-size: 62.5%;
}

h1,
h2 {
  color: var(--title-color);
}

a {
  color: var(--link-color);
}

.slide-background {
  /* set the default background */
  background: var(--background-color);

  /* set the default font-color */
  color: var(--base-color);
}

.slide-box {
  /* set the default align */
  text-align: center;
}

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
.section-title {
}

.title {
}
